/* Pages Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

@media (prefers-color-scheme: light) {
  .page-theme {
    background: #F7F7F7;
    font-size: 15px;
    color: #444;
  }
}

@media (prefers-color-scheme: dark) {
  .page-theme {
    background: #2e2e2e;
    font-size: 15px;
    color: white;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  width: 120px;
  height: auto;
  text-align: center;
  border: none;
  background-color: inherit;
  color: inherit;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

button img {
  width: 60%;
  height: auto;
  border: 3px solid;
  border-radius: 100vh;
  background-color: white;
}

button b {
  display: block;
  text-align: bottom;
  margin-top: 0.2vh;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

/* Pages Settings */

/* Main Page header */
.main-header {
  position: relative;
}

.main-header img {
  object-fit: cover;
  width: 100%;
  height: 20vh;
  object-position: center 12.5%;
  border-bottom: 3px solid;
}

.logo-live {
  position: absolute;
  width: 25vh;
  height: auto;
  margin-left: 3%;
  bottom: 2vh;
}
/* Main Page header */

/* Main page dashboard selector */
.dash-selector {
  /* display: inline-block; */
  text-align: center;
  padding: 0px;
  margin-left: 17%;
  margin-right: 17%;
  /* max-width: 200vh; */
  border-bottom: 3px solid;
}

.dash-selector h2 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-bottom: 3.5px solid;
  font-size: 20px;
}
/* Main page dashboard selector */

/* Main Page Content Table */
#title-1 {
  width: 800px;
  margin-left: 4%;
  margin-top: 25px;
  border-bottom: 7px solid;
  font-size: 20px;
}

.row {
  padding: 15px;
  margin-left: 60px;
}

.column {
  float: left;
}

.left {
  width: 30%;
}

.middle {
  width: 30%;
}

.right {
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Content Table */

/* Home page button */
#home-page {
  position: absolute;
  text-align: center;
  margin-left: 1%;
  margin-top: 0.3%;
}

#home-page svg {
  display: block;
  width: 35px;
  height: auto;
}

#home-page p {
  font-size: 13px;
  font-weight: bold;
}
/* Home page button */

/* Dashboard selector collapsible */
input[type='checkbox'] {
  display: none;
}

/* .wrap-collabsible {
  margin: 0.2rem 0;
} */

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  background: #F7F7F7;
  cursor: pointer;
  transition: all 0.25s ease-out;
  border-bottom: 3.5px solid #444;
}

.lbl-toggle:hover {
  color: #857e7e;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: 350px;
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #F7F7F7;
  border-bottom: 3.5px solid #444;
  padding: 10px;
  text-align: center;
}

.content-inner #wrapper {
  display: inline-block;
  text-align: center;
  max-width: 150vh;
}

/* 
.collapsible-content .content-inner ul li img {
  margin-top: 0px;
} */

.collapsible-content p {
  margin-bottom: 0;
}
/* Dashboard selector collapsible */

.dash-container {
  position: relative;
  flex: 1;
}

.dash-page {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
}


#wrapper {
  width: 95%;
  position: relative;
  left: 2.5%;
  right: 2.5%;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  width: 40px;
  height: 40px;
  top: 35%;
  left: -5%;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  width: 40px;
  height: 40px;
  top: 35%;
  right: -5%;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  align-items: flex-start;
}

#countdown {
  width: 20vh;
  position: absolute;
  text-align: center;
  white-space: pre-line;
  right: 0vh;
  margin-top: 0.5%;
}

#countdown::first-line {
  font-weight: bold;
}

.dot {
  position: absolute;
  z-index: 1;
  bottom: 1%;
  right: 50%;
  font-weight: bold;
}


/* deletes my countdown */
div.c{
  position: relative;
  /* margin:2em; */
  padding: 10px;
}
.c h1 {
  font-size: 25px;
  border-bottom:3px solid;
  width: 50vh;
}

input{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;
}

label::before{
  content:"";
  display: inline-block;
  border: 10px solid transparent;
  border-left:15px solid white;
}
label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p{
  max-height:0px;
  overflow: hidden;
  margin-top: 10px;
  /* transition:max-height 0.5s; */
  /* background-color: white; */
  /* box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2); */
}
/* div.p p {
  padding:2em;
} */
input:checked ~ h1 label::before{
  border-left:10px solid transparent;
  border-top:15px solid white;
  margin-top:12px;
  margin-right:10px;
}
input:checked ~ h1 ~ div.p{
  max-height:1000px;
}
/* a{
  color:steelblue;
} */

li {
  list-style: none;
  margin-left: 25px;
}

li::before {
  content: '▶';
  left: 0;
}